@import "../../src/index.css";

.resize-box {
    @apply grid absolute border p-3 shadow;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    overflow: hidden
}

.resize-box-handle {
    @apply absolute size-6 rounded-[50%] bg-slate-700;
    transform: translate(-50%, -50%);
}

