@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*[dragover] {
    --dragover-color: #b2d9f8b2;
    --dragover-border-color: #215ecfb2;
    border: var(--dragover-border-color) dashed 2px;
    background-color: var(--dragover-color);
}

@layer utilities {
    .popup-bg {
        position: fixed;
        display: grid;
        place-content: center;
        left: 0;
        top:0;
        width: 100vw;
        height: 100vh;
        z-index: 100000;
        backdrop-filter: blur(4px) brightness(60%);
    }

    .child-full {
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }    


    .attrhide[data-hidden=true] {
        opacity: 0.3;
    }

    .pointer-none-on-attrhide[data-hidden=true] {
        pointer-events: none;
    }
}
