@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*[dragover] {
    --dragover-color: #b2d9f8b2;
    --dragover-border-color: #215ecfb2;
    border: var(--dragover-border-color) dashed 2px;
    background-color: var(--dragover-color);
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

input[type="number"] { 
    appearance:textfield; 
} 

input:invalid {
    @apply bg-red-300;
}

h1 {
    @apply text-2xl font-bold
}

h3 {
    @apply text-xl font-bold
}

.bg-blank {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsAAAA7AAWrWiQkAAACPSURBVFhH7ZU7CgUhDEVvRN2MpfuvLMQFuBl/80bIBozFFC8HgpIiHjUQSik9ELDWgvceMUY45zh7juH1M1RABVRABVRABcyeajdBRFxKBuWcr8ZxCAHWWs6eQ601kcBmjIFaK3rv4peg54X3x8w5UUrBewkYI2unqybc37APvgqu9RkqoAIqoAIq8O8CwA/vaVm5b5/yDQAAAABJRU5ErkJggg==");
    animation: 1s linear infinite bg-blank-animate;
}

@keyframes bg-blank-animate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 32px 32px;
    }
}

@layer utilities {
    .popup-bg {
        position: fixed;
        display: grid;
        place-content: center;
        left: 0;
        top:0;
        width: 100vw;
        height: 100vh;
        z-index: 100000;
        backdrop-filter: blur(4px) brightness(60%);
    }

    .child-full {
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }    
    .child-center {
        display: grid;
        place-content: center;
    }    

    .attrhide[data-hidden=true] {
        opacity: 0.3;
    }
    .attrhide[data-hidden=true] .attrhide {
        opacity: 1.0
    }

    .pointer-none-on-attrhide[data-hidden=true] {
        pointer-events: none;
    }

    .trigger {
       @apply min-w-max hover:shadow active:shadow-inner bg-slate-200 rounded border 
    }

    .link {
        @apply text-blue-500
    }
}

.loading-bar {
    @apply bg-gray-100;
    height: 4px;
    transform: scale(1);
}
.loading-bar::after {
    @apply bg-blue-400;
    position: absolute;
    height: 100%;    
    max-width: 100%;
    min-width: 0px;
    content: " ";
    animation: 1s alternate ease-in-out loading-bar infinite;
}

@keyframes loading-bar {
    0% {
        left: 0%;
        right: 90%;
    }

    100% {
        left: 90%;
        right: 0%;
    }
}